.wrapper{
    max-width: 530px !important;
    margin-right: 0 !important;
}

.description{
    margin-bottom: 25px;
    max-width: 533px;
}
.description  h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 3px;
  }
  .description  ul > li{
        font-size: 16px;
        line-height: 33px;
        padding: 0 0 0 20px;
        position: relative;
        list-style: none;
    }
  

    .description  ul > li:before{
            content:'';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #B7280F;
            position: absolute;
            left: 0;
            top: 12px;
        }
